@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#mainCont {
    display: contents;
    min-width: 380px;
    color: #EEEEEE;
    width: max-content;

}

#mainCont>h1 {
    margin: 0;
    width: 250px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: white;

    padding: 5px;
    border-radius: 50px;

}





.errorLabel {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
}





#subCont {
    font-size: large;
    display: none;
    color: black;
    margin-bottom: 15px;


}

.result-div {
    margin-bottom: 2px;
    border-bottom: 1px solid black;

}



#requistie {
    display: none;
}

body {
    margin: 0;
    padding: 1em;
    font-size: 0.8275em;
    line-height: 1.5em;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    width: 340px;
    color: #303030;
}

.footer p {
    margin: 0;
    text-align: right;

    padding-top: 5px;

    color: black;
    font-weight: bold;
}

#errorMsg {
    color: white;
    font-size: 20px;
}



#analyze_btn {



    display: none;
}

#clear_btn {
    display: none;



}

.button-17 {

    padding: .75em .5em;
    margin-bottom: .5em;
    text-align: left;
    
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: .375em;
    cursor: pointer;
    color: #505050;
    background-color: #f5f5f5;
}

.button-17:hover {
    background: #222831;
    color: white;

}

.buttons-div {
    display: inline-flex;
    gap: .5em;
}



.header_heading .header_icon {
    vertical-align: text-bottom;
    height: 1.375em;
    width: 2.375em;

}

.header_heading .header_name {
    display: inline-block;
    padding: 0 .125em;
    font-size: 1.25em;
    font-weight: 700;
}

.header_description {

    color: #a0a0a0;
}

.header_description p {
    margin: 0;
}