@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#mainCont {
    min-width: 380px;
    color: #EEEEEE;
    width: max-content;

}

#mainCont>h1 {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
    background: #31363F;
    padding: 5px;
    border-radius: 50px;

}





.errorLabel {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
}





#subCont {
    font-size: large;
    display: none;
    color: black;
    margin-bottom: 15px;


}

.result-div {
    margin-bottom: 2px;
    border-bottom: 1px solid black;

}



#requistie {
    display: none;
}

body {
    background: #7b8ba4;
    margin: 0;
    padding: 10px;
}

.footer p {
    margin: 0;
    text-align: right;

    padding-top: 5px;

    color: black;
    font-weight: bold;
}

#errorMsg {
    color: white;
    font-size: 20px;
}





.button-17 {
    align-items: center;
    appearance: none;
    background-color: #222831;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #b8c0cd;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-17:hover {
    background: #222831;
    color: white;

}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}