* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    transition: 0.4s;
    margin: 0;
    padding: 1em;
    font-size: 0.8275em;
    line-height: 1.5em;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    width: 340px;
    color: #EEEEEE;
    background-color: #121212;
}



#mainCont {
    display: contents;
    min-width: 380px;
    color: #EEEEEE;
    width: max-content;
}

#mainCont>h1 {
    width: 250px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 50px;
    background-color: #333333;
}

.errorLabel {
    color: #FF5252;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #333333;
}

.button-svgs {
    padding-right: 8px;
    height: 12px;
    width: 15px;
    filter: invert(1)
}

.footer__heart {
    padding: 0 0.4em;
    color: #FF0000;
}

#subCont {
    border-radius: 0.375em;
    font-size: 1.2em;

    color: #EEEEEE;
    margin-bottom: 0.38em;
    background-color: #333333;
    padding: 10px;
}

.result-div {

    border-bottom: 1px solid #EEEEEE;
}

#flipkart-order-button {
    display: none;
}

#flipkart-order-button div {
    font-weight: bolder;
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #EEEEEE;
}

.flipkart-anchor {
    text-decoration: none;

}

#requistie {
    text-align: center;
    margin: 0.6em 0;
    font-size: 1.7em;
    color: silver;
    display: none;
    font-weight: bold;
}

#errorMsg {
    color: #FF5252;
    font-size: 1.5em;
}

#analyze_btn,
#clear_btn {
    display: none;
}

.button-17 {
    width: 102px;
    padding: 0.75em 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0.375em;
    cursor: pointer;
    color: silver;
    background-color: #333333;
}

.button-17:hover {
    background: #2b2b2b;
    color: silver;
}

.buttons-div {
    display: inline-flex;
    gap: 0.5em;
}

.header_heading {
    display: inline-flex;
    gap: 127px;
}

.header_heading .header_icon {
    vertical-align: text-bottom;
    height: 1.375em;
    width: 2.375em;
}

.header_heading .header_name {
    display: inline-block;
    padding: 0 0.125em;
    font-size: 1.25em;
    font-weight: 700;
    color: silver;
}

.header_description {
    color: #A0A0A0;
}

.header_description p {
    margin: 0;
}

header {
    margin-bottom: 1em;
}

.footer {
    border-top: 1px solid #666666;
    text-align: center;
    padding: 2.5em 1em 0;
    margin: 0 -1em;
    color: #EEEEEE;

}

.footer p {
    margin: 0;
    text-align: right;
    padding-top: 5px;
    color: #EEEEEE;
    font-weight: bold;
}

.switch {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 22px;
}

.switch__checkbox {
    display: none;
}

.switch__checkbox:checked+.switch__slider {
    background-color: #2b2b2b;
}

.switch__checkbox:checked+.switch__slider:before {
    -webkit-transform: translateX(22px);
    transform: translateX(22px);
}

.switch__slider {
    border-radius: 11px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: #444444;
    background-image: url(../assets/sun.svg), url(../assets/moon.svg);
    background-position: 4px center, calc(100% - 4px) center;
    background-repeat: no-repeat, no-repeat;
    background-size: 14px 14px, 14px 14px;
}


.switch__slider:before {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 7px;
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 14px;
    width: 14px;
    background-color: #fff;
}




.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
    color: white;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

.total-spent {
    border-radius: 0.375em;
    border-bottom: none;
    margin-bottom: 0.38em;
    padding: 5px;
    background-color: #333333;
    color: white;
    font-size: 1.5em;
}

#orders-data {
    display: none;
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 120px;
    height: 24px;

    overflow: hidden;
    position: relative;
    background:
        url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;

    i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
        background:
            url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
    }

    input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;

        &:hover+i,
        &:checked+i {
            opacity: 1;
        }
    }

    i~i {
        width: 40%;
    }

    i~i~i {
        width: 60%;
    }

    i~i~i~i {
        width: 80%;
    }

    i~i~i~i~i {
        width: 100%;
    }
}




.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}


::after,
::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}